
@{
    ViewBag.Title = "Quotations Index";
}
<h2>Quotations Index</h2>
<p>
    @Html.ActionLink("Add Quotations", "AddQuotations")
</p>
<p>
    @Html.ActionLink("Add Quotations Tranditional", "AddQuotationsTranditional")
</p>
<p>
    @Html.ActionLink("List Page (1: None Condition)", "List")
</p>
<p>
    @Html.ActionLink("List Page (2: AgeList Condition with DynamicGridModelBinder)",
        "List",
        new { Age_0 = "15", Age_1 = "aaa", Age_2 = "8.76", Age_3 = "96" }
    )
</p>
<p>
    @Html.ActionLink("UserInfo Search Page (3: HobbyList Condition with DynamicGridModelBinder)",
        "UserInfo",
        new
        {
            HobbyList_0 = "17",
            HobbyList_1 = "kkk",
            HobbyList_2 = "3.14",
            HobbyList_3 = Guid.NewGuid().ToString("N").Substring(0,3),
            AgesIn_0 = "56",
            AgesIn_1 = "mmt",
            AgesIn_3 = Guid.NewGuid().ToString("N").Substring(0,3),
            Date_Of_Birth_In_0 = "2018-01-01",
            Date_Of_Birth_In_1 = "Test",
            Date_Of_Birth_In_2 = "2019-02-17",
            Date_Of_Birth_In_3 = "2019-02-30",
        }
    )
</p>
<p>
    @Html.ActionLink("List Page (4: StatusList Condition with DynamicGridModelBinder)",
        "List",
        new
        {
            Status_0 = "2",
            Status_1 = "aaa",  /* error parameter */
            Status_2 = "8.76",  /* error parameter */
            Status_3 = "3",
            Status_4 = "D",
            Status_5 = "d",
        }
    )
</p>

